/*body {*/
/*    margin:0;*/
/*    padding:0;*/
/*}*/
#map {
    /*position: absolute;*/
    /*top:0;*/
    /*bottom:0;*/
    /*right:0;*/
    /*left:0;*/
    height: 650px;
    z-index: 0;
}
#vector_map {
    /*position: absolute;*/
    /*top:0;*/
    /*bottom:0;*/
    /*right:0;*/
    /*left:0;*/
    height: 650px;
    z-index: 0;
}
#geoJson_map {
    /*position: absolute;*/
    /*top:0;*/
    /*bottom:0;*/
    /*right:0;*/
    /*left:0;*/
    height: 650px;
    z-index: 0;
}
nav{
    z-index: 100;
}