body{
    background-image: url("../../img/backgroud/tic-tac-toe.png");
}
.m-right-top{
    position: absolute;
    top: 0;
    right: 0;
}
.m-mobile-show{
    display: none !important;
}
@media screen and (max-width: 768px){
    .m-mobile-hide{
        display: none !important;
    }
    .m-mobile-show{
        display: block !important;
    }
}

form{
    margin: 0;
    padding: 0;
}